{:skip-comments true
 :linters       {:refer-all         {:level :off}
                 :unresolved-symbol {:level :off}}
 :lint-as       {structurizr/defstyles clojure.core/let
                 structurizr/defview   clojure.core/let}}
